<h2 class="page-header">Search Venue</h2>
<form action="/venues" method="GET"> 
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% venues.forEach(venue => { %>
    <div><%= venue.name %></div>
    <div class="btn-row">
        <a class="btn btn-primary" href="/venues/<%= venue.id %>">View</a>
        <a class="btn btn-primary" href="/venues/<%= venue.id %>/edit">Edit</a>

        <%- include('../partials/deleteForm',
                    { url: `/venues/${venue.id}` }) %>
    </div>
<% }) %>
    