<h2>Search Venue</h2>
<form action="/venues" method="GET"> 
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% venues.forEach(venue => { %>
    <div><%= venue.name %></div>
    <a href="/venues/<%= venue.id %>">View</a>
    <a href="/venues/<%= venue.id %>/edit">Edit</a>

    <%- include('../partials/deleteForm',
                  { url: `/venues/${venue.id}` }) %>
<% }) %>