<h2 class="page-header"><%= venue.name %></h2>
<a href="/venues/<%= venue.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', 
                {url: '/venues/${venue.id}' }) %>
<% if (eventsByVenue.length > 0) { %>
    <h2>Events by Venue</h2>
    <% eventsByVenue.forEach(event => { %>
        <div>
            <a href="/events/<%= event.id %>">
                <img height="150" width="100" src="<%= event.imgPath %>">
            </a>
        </div>
    <% }) %>
<% } %>